/* Global Styles
---------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before *:after {
  box-sizing: inherit;
}

body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
  }
img {
    width: 300px;
  }
a {
    color: #FDD3B6;
  }
a:hover {
    text-decoration: none;
  }
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {

  font-size: 45px;
  padding-top: 5px;
}
h1, h2 {
  font-family: 'Unica One', cursive;
  font-weight: 400;
  margin: 0;
}
h3 {
  font-size: 25px;
}
.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0; 
}
  /* Profile
  ---------------------------------------*/
header {
    background: #ADDCCB;
    color: #ffffff;
    
  }
.thin-shade {
    background: #ADDCCB;
    font: 5rem 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.35rem;
    color: #ffffff;
    text-shadow: -4px 4px 0 #ADDCCB,
                -6px 6px 0 rgba(255,255,255,0.5);
  }

  /* Projects
  ---------------------------------------*/
.projects {
    background: #DBEBC1;
    
  }
.projects a {
  color: #347059;
}

.projects .btn {
  background: #347059;
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba( 52, 112, 89, 80%);
}
.project-item {
  overflow: hidden;
  border-bottom: 1px dashed #347059;
  padding: 40px 0;
}
.project-item img {
  float: left;
  margin-right: 20px;
} 
.project-item h3 {
  margin-top: 0;
}
.project-item2 {
  overflow: hidden;
  border-bottom: 1px dashed #347059;
  padding: 40px 0px;
}
.project-item2 img {
  float: right;
  margin-left: 20px;
} 
.project-item2 h3 {
  margin-top: 0;
}



  /* Work Experience
  ---------------------------------------*/
.work-experience {
    background: #FDD3B6;
    
  }

  /* Education
  ---------------------------------------*/
.education {
    background: #F7A8A5;
    
  }

  /* Contact Info
  ---------------------------------------*/
footer {
    background: #F48A94;
    color: #ffffff;
    
  }
